<script id="entry-template" type="text/x-handlebars-template">
<div class="panel-cont">
    <div class='total_count'> {{posts.total}} results found </div>
    <div class="row page-cont">
    {{#each posts.posts}}
    <div class="elem-cont col-xs-12 col-sm-4 col-md-3 col-lg-2">
          <div class="panel panel-default">
            <div id={{this._id}} class="panel-body">
                <div class="thumbImgCont">
                    <img class="thumbImg" src={{this.imageUrl}}>
                </div>
                <div class="bottom-panel">
                    <div class="button-panel">
                        {{#if this.isStarred}}
                            <div class="pan-btn star-btn starred"></div>
                        {{else}}
                            <div class="pan-btn star-btn star"></div>
                        {{/if}}
                        <div class="pan-btn-cont">
                            <a href="/api/image/{{this._id}}" > <div class="pan-btn download"></div></a>
                            <div class='pan-count down-count'>{{this.downloads}}</div>
                        </div>
                        <div class="pan-btn-cont">
                            {{#if this.isLiked}}
                                <div class="pan-btn fav faved"></div>
                            {{else}}
                                <div class="pan-btn fav favorite"></div>            
                            {{/if}}
                            <div class='pan-count fav-count'>{{this.likes.length}}</div>
                        </div>          
                        {{#if this.isOwner}}
                            <div class="pan-btn edit"></div>
                        {{/if}}
                        <div class="pan-btn use"></div>
                        <div class="pan-btn user"><img class="user-img" src={{this.user.image}}></div>
                    </div>
                </div>
            </div>
          </div>
    </div>    
    {{/each}}
    </div>
    <div class="page-cont">
    <nav aria-label="Page navigation">
  <ul class="pagination">
    
    {{#pageLink posts.total posts.limit posts.current}}
        <span>{{this}}</span>
    {{/pageLink}}
  </ul>
</nav>
    </div>
</div>
</script>
