<script id="entry-template" type="text/x-handlebars-template">
<div class="panel-cont">
    <div class='total_count'> {{posts.total}} results found </div>
    <div class="row">
    {{#each posts.posts}}
    <div class="col-sm-2">
          <div class="panel panel-default">
            <div id={{this._id}} class="panel-body">
                <div class="thumbImgCont">
                    <img class="thumbImg" src={{this.imageUrl}}>
                </div>
                <div class="bottom-panel">
                    <div class="info-panel">
                        <div class="pan-info views">{{this.views}}</div>
                        <div class="pan-info downloads">{{this.downloads}}</div>
                        <div class="pan-info user"></div>
                    </div>
                    <div class="button-panel">
                        {{#if this.isStarred}}
                            <div class="pan-btn starred"></div>
                        {{else}}
                            <div class="pan-btn star"></div>
                        {{/if}}
                        
                        <a href="/api/image/{{this._id}}" > <div class="pan-btn download"></div></a>
                        <div class="pan-btn favorite"></div>                        
                        {{#if this.isOwner}}
                            <div class="pan-btn edit"></div>
                        {{/if}}
                        <div class="pan-btn use"></div>
                    </div>
                </div>
            </div>
          </div>
    </div>    
    {{/each}}
    </div>
    <div class="page-cont">
    <nav aria-label="Page navigation">
  <ul class="pagination">
    
    {{#pageLink posts.total posts.limit posts.current}}
        <span>{{this}}</span>
    {{/pageLink}}
  </ul>
</nav>
    </div>
</div>
</script>
