<script id="entry-template" type="text/x-handlebars-template">
    <div class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header nav-head-boot">
                <a class="navbar-brand col-xs-2">FAM</a>
                <div class="input-group" id="adv-search">
                    <input type="text" class="form-control" id="basic-search" placeholder="Search for snippets" />
                    <div class="input-group-btn">
                        <div class="btn-group" role="group">
                            <div class="dropdown dropdown-lg">
                                <button type="button" style="color:white!important" class="btn search-btn dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><span class="caret search-caret"></span></button>
                                <div class="dropdown-menu dropdown-menu-right search-drop" role="menu">
                                    <form class="form-horizontal drop-form" role="form">
                                    </form>
                                </div>
                            </div>
                            <button type="button" class="btn btn-basic-search  search-btn btn-primary"><span style="color:white" class="glyphicon search-icon glyphicon-search" aria-hidden="true"></span></button>
                        </div>
                    </div>
                </div>
                <div class="filt-boot head-icon">
                    <div class="dropdown">
                        <span class="visible-xs visible-sm fas filter-icon fa-filter" data-toggle="dropdown"><b class="caret hidden-xs hidden-sm"></b></span>
                        <span data-target="#" class="dropdown-toggle hidden-xs hidden-sm" data-toggle="dropdown">Filters
                   <b class="caret"></b></span>
                        <div class="dropdown-menu filter-drop ">
                            <ul >
                                <li>
                                    <div class="form-group lang-lists">
                                        <select class="lnglist form-control language-list ">
                                        </select>
                                    </div>
                                </li>
                                <li>
                                    <div class="form-group context-lists">
                                        <select class="cntxt-list form-control context-list"> </select>                                        
                                    </div>
                                </li>
                                <li>
                                    <div class="togglebutton">
                                        <label>
                                            <input class='isPlain fi-input' type="checkbox"> Plain Memes
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <div class="togglebutton">
                                        <label>
                                            <input class='isAdult fi-input' type="checkbox"> Adult
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <div class="togglebutton">
                                        <label>
                                            <input class='isFavorite fi-input' type="checkbox"> Favorites
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <div class="togglebutton">
                                        <label>
                                            <input class='isMine fi-input' type="checkbox"> My Memes
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <div class="togglebutton">
                                        <label>
                                            <input class='isApproved fi-input' type="checkbox"> Approvals
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <div class="btn btn-primary btn-apply-filter">Apply</div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="head-icon user-boot">
                    <div class="dropdown">
                       <span data-target="#" class="user-name dropdown-toggle hidden-xs hidden-sm" data-toggle="dropdown">You</span>
                       <span data-toggle="dropdown" style="float:right"><div class='user-icon far fa-user-circle'></div><b class="caret hidden-xs hidden-sm"></b></span>
                       <div class="dropdown-menu user-drop ">
                            <ul class="">
                                <li class="fb_login"><span id="facebook_login">FB Login</span></li>
                                <li><span id="request">Request Meme</span></li>
                                <li><span id="about_us">About Us</span></li>
                                <li class="logut"><span id="logout">Log Out</span></li>
                            </ul>
                       </div>
                   </div>   
             </div>
             <div class="fas fa-upload head-icon " id="create"></div>
            </div>
        </div>
    </div>
    <div id="high-lighter"> </div>
    <div id="post-contents">
    <div class="box"><div class="sk-circle"></div>
<div class="spinner">
  <div class="rect1"></div>
  <div class="rect2"></div>
  <div class="rect3"></div>
  <div class="rect4"></div>
  <div class="rect5"></div>
</div>
     </div>
</script>
