<script id="entry-template" type="text/x-handlebars-template">
    <div class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-warning-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand col-xs-2">Brand</a>
          <div class="navbar-form navbar-left col-xs-4  col-md-4 col-lg-8" id="search-box"></div>

           
        <div class="navbar-form navbar-left">   
           <div class="dropdown">
              <span data-target="#" class="dropdown-toggle" data-toggle="dropdown">Filters
                <b class="caret"></b></span>
              <div class="dropdown-menu filter-drop ">
                <ul>
                    <li>
                        <div class="form-group group-lists">
                            <label for="s1">Group</label>
                            <select class="grp-list form-control group-list">
                              <option value="0">Select</option>
                              <option value="icu">ICU</option>
                              <option value="tm">TM</option>
                              <option value="mnt">MNT</option>
                            </select>
                      </div>
                    </li>
                    <li>
                        <div class="togglebutton">
                            <label>
                                 <input class='isPlain fi-input' type="checkbox"> Plain Memes
                            </label>
                        </div>
                    </li>
                    <li>
                        <div class="togglebutton">
                            <label>
                                 <input class='isAdult fi-input' type="checkbox"> Adult
                            </label>
                        </div>
                    </li>
                    <li>
                        <div class="togglebutton">
                            <label>
                                 <input class='isFavorite fi-input' type="checkbox"> Favorites
                            </label>
                        </div>
                    </li>
                    <li>
                        <div class="togglebutton">
                            <label>
                                 <input class='isMine fi-input' type="checkbox"> My Memes
                            </label>
                        </div>
                    </li>
                   <li>
                       <div class="btn btn-primary btn-apply-filter">Apply</div>
                    </li>
                </ul>
              </div>
            </div>
         </div> 
          

        </div>
        <div class="navbar-collapse collapse navbar-warning-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" data-target="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown
            <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="javascript:void(0)">Action</a></li>
            <li><a href="javascript:void(0)">Another action</a></li>
            <li><a href="javascript:void(0)">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="javascript:void(0)">Separated link</a></li>
          </ul>
        </li>
        <li><div id="facebook_login">FB Login</div></li>
        <li><button id="create" type="button" class="btn btn-default">Create</button></li>
      </ul>
        </div>
      </div>
      </div>
    </div>
    <div id="high-lighter"> </div>
    <div id="post-contents"> </div>
</script>
