<script id="entry-template" type="text/x-handlebars-template">

<div class="form-horizontal">
    <div class="form-group label-floating se-form"> 
        <label class="control-label" for="se_title">Title</label>
        <input type="text" class="form-control se_input se-control col-md-10"  autocomplete="off" id="se_title" data-provide="typeahead">
    </div>
    <div class="form-group label-floating se-form"> 
        <label  class="control-label" for="se_tag">Tag</label>
        <input type="text" class="form-control se_input  se-control"  autocomplete="off" id="se_tag" >
    </div>
    <div class="form-group label-floating se-form"> 
        <label class="control-label" for="se_movie">Movie</label>
        <input type="text" class="form-control se_input se-control col-md-10"  autocomplete="off" id="se_movie" >
    </div>
    <div class="form-group label-floating se-form"> 
        <label  class="control-label" for="se_actor">Actor</label>
        <input type="text" class="form-control se_input se-control" id="se_actor"  autocomplete="off" >
    </div>
    <div class="form-group label-floating se-form"> 
        <label class="control-label" for="se_character">Character</label>
        <input type="text" class="form-control se_input se-control col-md-10"  autocomplete="off" id="se_character">
    </div>
    <div class="form-group label-floating se-form"> 
        <label  class="control-label" for="se_event">Event</label>
        <input type="text" class="form-control se-control se_input"  autocomplete="off" id="se_event" >
    </div>
    <div class="form-group se-form"> 
        <div class="btn btn-primary" id="advanced-search">Search</div>
    </div>
</div>





</script>
