<script id="entry-template" type="text/x-handlebars-template">

<div class="form-horizontal">
    <div class="form-group se-form"> 
        <label class="control-label" for="se_title">Title</label>
        <input type="text" class="form-control se_input se-control col-md-10"  autocomplete="off" id="se_title" placeholder="Title" data-provide="typeahead">
    </div>
    <div class="form-group se-form"> 
        <label  class="control-label" for="se_tag">Tag</label>
        <input type="text" class="form-control se_input  se-control"  autocomplete="off" id="se_tag" placeholder="Tag">
    </div>
    <div class="form-group se-form"> 
        <label class="control-label" for="se_movie">Movie</label>
        <input type="text" class="form-control se_input se-control col-md-10"  autocomplete="off" id="se_movie" placeholder="Movie">
    </div>
    <div class="form-group se-form"> 
        <label  class="control-label" for="se_actor">Actor</label>
        <input type="text" class="form-control se_input se-control" id="se_actor"  autocomplete="off" placeholder="Actor">
    </div>
    <div class="form-group se-form"> 
        <label class="control-label" for="se_character">Character</label>
        <input type="text" class="form-control se_input se-control col-md-10"  autocomplete="off" id="se_character" placeholder="Character">
    </div>
    <div class="form-group se-form"> 
        <label  class="control-label" for="se_event">Event</label>
        <input type="text" class="form-control se-control se_input"  autocomplete="off" id="se_event" placeholder="Event">
    </div>
    <div class="form-group se-form"> 
        <div class="btn btn-primary" id="advanced-search">Search</div>
    </div>
</div>





</script>
