<script id="entry-template" type="text/x-handlebars-template">

<div class="modal fade-scale" id="detail-cont" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content modal-detail-content" id={{post._id}}>
      <div class="modal-header">
        <span class="modal-title"><b>{{post.title}}</b></span>
        <button type="button" class="close" data-custom-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
            <div class="img-cont">
                <img width="552" {{#if post.adjustedHeight}}height={{post.adjustedHeight}} {{/if}} class="postImage" src={{post.imageUrl}}>
            </div>
      </div>
      <div class="modal-footer">
            <div class="detail-footer-right">
             {{#if post.isStarred}}
               <div class="pan-btn far fa-star star-btn starred"></div>
            {{else}}
                <div class="pan-btn far fa-star star-btn star"></div>
            {{/if}}

            <div class="pan-btn-cont">
                <div class="far fa-arrow-alt-circle-down pan-btn download" data-post= {{post._id}}></div>
                <div class="pan-count down-count">{{post.downloads.length}}</div>
            </div>
            <div class="pan-btn-cont">
                <div class="far fa-edit pan-btn gen-meme" data-post= {{post._id}}></div>
            </div>
            <div class="pan-btn-cont">
                {{#if post.isLiked}}
                    <div class="far fa-heart pan-btn fav faved"></div>
                {{else}}
                    <div class="far fa-heart pan-btn fav favorite"></div>
                {{/if}}
                <div class='pan-count fav-count'>{{post.likes.length}}</div>
            </div>
            {{#if share}}
                 <div class="pan-btn-cont">
                        <div class="pan-btn share" data-post= {{post._id}}>
                        <svg viewBox="0 0 2000 2000" xmlns="http://www.w3.org/2000/svg">
                            <path class="share-icon-path" d="M1344 1024q133 0 226.5 93.5t93.5 226.5-93.5 226.5-226.5 93.5-226.5-93.5-93.5-226.5q0-12 2-34l-360-180q-92 86-218 86-133 0-226.5-93.5t-93.5-226.5 93.5-226.5 226.5-93.5q126 0 218 86l360-180q-2-22-2-34 0-133 93.5-226.5t226.5-93.5 226.5 93.5 93.5 226.5-93.5 226.5-226.5 93.5q-126 0-218-86l-360 180q2 22 2 34t-2 34l360 180q92-86 218-86z"/>

                        </svg>
                        </div>
                        <div class='pan-count share-count'>{{post.shares.length}}</div>
                </div>
            {{/if}}
            <img width="0" height="0" src=/api/incrementviews?id={{post._id}}&user={{post.user}}>
        </div>
        <div class="detail-footer-left">
            <div class="more">Details for buffs</div>
        </div>
            <div class="detail-more-details">
            <div class="det-elem"><b>Movie : </b>{{post.movie}} ({{post.language}})</div>
            {{#if post.context}}
                <div class="det-elem"><b>Context: </b>{{post.context}}</div>
            {{/if}}
            {{#if post.actors}}
                <div class="det-elem"><b>Actors : </b>{{post.actors}}</div>
            {{/if}}
            {{#if post.characters}}
                <div class="det-elem"><b>Characters : </b>{{post.characters}}</div>
            {{/if}}
            {{#if post.tags}}
                <div class="det-elem"><b>Tags : </b>{{post.tags}}</div>
            {{/if}}
        </div>
      </div>
    </div>
    <div class="modal-content  modal-gen-cont">
        <div class="modal-body">
            <div class="gen-meme-cont">
                <canvas id="gen-meme-elem"></canvas>
                <div id="boundingbox"></div>
            </div>
        </div>
        <div class="modal-footer">
             <div class="detail-footer-right">
               <div class="pan-btn far fa-star star-btn gen-cancel"></div>
               <div class="fas fa-crop-alt img-crop"></div>
        </div>
    </div>
  </div>
</div>
</script>
