<script id="entry-template" type="text/x-handlebars-template">

<div class="modal" id="request-meme" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <span class="modal-title">Request Meme</span>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="label-movie">
                <label> Movie <input type="text" class="request-movie"></label>
        </div>
        <div class="label-desc">
                <label> Movie <input type="textarea" class="request-desc"></label>
        </div>
      </div>
      <div class="modal-footer">
        <!-- footer content should go here -->
      </div>
    </div>
  </div>
</div>
</script>
