<script id="entry-template" type="text/x-handlebars-template">

<div class="modal" id="detail-cont" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content" id={{_id}}>
      <div class="modal-header">
        <span class="modal-title"><b>{{title}}</b></span>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      {{#if imageUrl}}
        <div class="req-det-img-cont">
                <img width="552" {{#if adjustedHeight}}height={{adjustedHeight}} {{/if}} class="postImage" src={{imageUrl}}>
            </div>
            {{/if}}
            {{#if link}}<div class="det-req-link"><a href ={{link}} target="_blank"> Link </a></div> {{/if}}
            {{#if movie}} <div class="det-req-movie"><b>Movie : </b>{{movie}} ({{language}})</div> {{/if}}
                <b>Description</b>
            <div class="det-req-desc">{{description}}</div>
      </div>
      <div class="modal-footer">
            {{#requestEditable isOwner 'det'}}{{/requestEditable}}
            {{#requestDeletable isOwner 'det'}}{{/requestDeletable}}
            {{#requestRepliable isOwner 'det'}}{{/requestRepliable}}
      </div>
    </div>
  </div>
</div>
</script>
