.right-cont {
    float:right;
    margin-right:50px;
}
#head-container{
    padding-top:10px;
}
.check-content {
    padding-left:18%!important;
}
.img-preview-cont {
    width:100%;
    height:150px;
}
.create-left, .top-cont {
    padding-left:0;
    margin-left:0;
}
