<script id="entry-template" type="text/x-handlebars-template">

<div class="modal fade-scale" id="detail-cont" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content" id={{_id}}>
      <div class="modal-header">
        <span class="modal-title"><b>{{title}}</b></span>
        <button type="button" class="close" data-custom-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="img-cont">
                <img width="552" {{#if adjustedHeight}}height={{adjustedHeight}} {{/if}} class="postImage" src={{imageUrl}}>
            </div>
      </div>
      <div class="modal-footer">
            <div class="detail-footer-right">
             {{#if isStarred}}
               <div class="pan-btn far fa-star star-btn starred"></div>
            {{else}}
                <div class="pan-btn far fa-star star-btn star"></div>
            {{/if}}

            <div class="pan-btn-cont">
                <div class="far fa-arrow-alt-circle-down pan-btn download" data-post= {{this._id}}></div>
                <div class="pan-count down-count">{{downloads.length}}</div>
            </div>
            <div class="pan-btn-cont">
                {{#if isLiked}}
                    <div class="far fa-heart pan-btn fav faved"></div>
                {{else}}
                    <div class="far fa-heart pan-btn fav favorite"></div>
                {{/if}}
                <div class='pan-count fav-count'>{{likes.length}}</div>
            </div>
            <img width="0" height="0" src=/api/incrementviews?id={{_id}}&user={{user}}>
        </div>
        <div class="detail-footer-left">
            <div class="more">Details for buffs</div>
        </div>
            <div class="detail-more-details">
            <div class="det-elem"><b>Movie : </b>{{movie}} ({{language}})</div>
            <div class="det-elem"><b>Context: </b>{{context}}</div>
            <div class="det-elem"><b>Actors : </b>{{actors}}</div>
            <div class="det-elem"><b>Characters : </b>{{characters}}</div>
            <div class="det-elem"><b>Tags : </b>{{tags}}</div>
        </div>
      </div>
    </div>
  </div>
</div>
</script>
