<script id="entry-template" type="text/x-handlebars-template">

<div class="modal" id="detail-cont" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content" id={{_id}}>
      <div class="modal-header">
        <span class="modal-title"><b>{{title}}</b></span>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="img-cont">
                <img width="552" {{#if adjustedHeight}}height={{adjustedHeight}} {{/if}} class="postImage" src={{imageUrl}}>
            </div>
      </div>
      <div class="modal-footer">
         {{#if post.isStarred}}
                    <div class="pan-btn star-btn starred"></div>
                {{else}}
                    <div class="far fa-star pan-btn star-btn star"></div>
                {{/if}}
                <div class="pan-btn-cont">
                    <a href="/api/image/{{this._id}}" > <div class="far fa-arrow-alt-circle-down pan-btn download"></div></a>
                    <div class="pan-count down-count">{{downloads}}</div>
                </div>
                <div class="pan-btn-cont">
                    {{#if post.isLiked}}
                        <div class="pan-btn fav faved"></div>
                    {{else}}
                        <div class="far fa-heart pan-btn fav favorite"></div>            
                    {{/if}}
                    <div class='pan-count fav-count'>{{likes.length}}</div>
                </div> 
      </div>
    </div>
  </div>
</div>
</script>
